# 
# Shared variable file for certificate scripts
#

BASE_PATH=$(mktemp -d)                       # temporary local directory 
CERT_PATH=${BASE_PATH}/certs                 # repository checked out in to this directory
SVN_REPO_PATH=localhost/home/greg/ssl_test   # svn+ssh path to the subversion respository

#
# Edit request information for your country, state, city, and organization 
#
SSL_SUBJECT="/C=US/ST=STATE/L=City/O=Organization/OU=Organization Unit or Dept/CN=${SITE}"

# Variables for monitor script
DEBUG=0						   # Set to 1 when testing 
EXPIRED=./expired_certificates.txt                 # list of sites to be ignored
CHECK_PATH=/home/greg/certs			   # site.crt files under each in site subdirectory
NOTIFY_SECONDS=3024000                             # Warn this many seconds before expiration (5 weeks)
ALERT_EMAIL=greg@localhost			   # email address for alerts